# Assignment 1
### Understanding Uncertainty
### Due 9/5

1. Create a new public repo on Github under your account. Include a readme file.
2. Clone it to your machine. Put this file into that repo.
3. Use the following function to download the example data for the course:

In [1]:
def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request, zipfile, os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    else:
        print("Download file already exists")
        
    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    else:
        print("Data directory already exists")

download_data()

Downloading course data
Download complete
Extracting data files...
Data extracted

4. Open one of the datasets using Pandas:
    1. `ames_prices.csv`: Housing characteristics and prices
    2. `college_completion.csv`: Public, nonprofit, and for-profit educational institutions, graduation rates, and financial aid
    3. `ForeignGifts_edu.csv`: Monetary and in-kind transfers from foreign entities to U.S. educational institutions
    4. `iowa.csv`: Liquor sales in Iowa, at the transaction level
    5. `metabric.csv`: Cancer patient and outcome data
    6. `mn_police_use_of_force.csv`: Records of physical altercations between Minnessota police and private citizens
    7. `nhanes_data_17_18.csv`: National Health and Nutrition Examination Survey
    8. `tuna.csv`: Yellowfin Tuna Genome (I don't recommend this one; it's just a sequence of G, C, A, T )
    9. `va_procurement.csv`: Public spending by the state of Virginia

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv(r"C:\Users\crush\OneDrive\Desktop\DS 5030\assignment1\data\iowa.csv")
data.head()

,Invoice/Item Number,Date,Store Number,Store Name,Zip Code,Category Name,Vendor Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars)
0,INV-59108400026,06/06/2023,3723,J D SPIRITS LIQUOR,51040,STRAIGHT RYE WHISKIES,INFINIUM SPIRITS,27102,TEMPLETON RYE 4YR,750,18.09,27.14,2,54.28
1,S16879800057,01/16/2014,3926,LIQUOR DOWNTOWN / IOWA CITY,52240,VODKA 80 PROOF,HEAVEN HILL BRANDS,35416,BURNETT'S VODKA 80 PRF,750,4.84,7.26,12,87.12
2,INV-05301100019,06/05/2017,3829,GARY'S FOODS / MT VERNON,52314,CANADIAN WHISKIES,DIAGEO AMERICAS,11296,CROWN ROYAL,750,15.59,23.39,6,135.66
3,INV-40973500083,10/14/2021,5102,WILKIE LIQUORS,52314,AMERICAN SCHNAPPS,JIM BEAM BRANDS,82787,DEKUYPER BUTTERSHOTS,1000,7.87,11.81,12,141.72
4,INV-17022500013,01/18/2019,2560,HY-VEE FOOD STORE / MARION,52302,WHISKEY LIQUEUR,SAZERAC COMPANY INC,64863,FIREBALL CINNAMON WHISKEY,200,2.50,3.75,12,45.00

5. Pick two or three variables and briefly analyze them
    - Is it a categorical or numeric variable?
    - How many missing values are there? (`df['var'].isna()` and `np.sum()`)
    - If categorical, tabulate the values (`df['var'].value_counts()`) and if numeric, get a summary (`df['var'].describe()`)

In [ ]:
print(f'Variable 1: Bottles Sold')

print(f'1. The variable is a numeric variable.')

# 2. 

print(f'2. The variable has {data["Bottles Sold"].isna().sum(axis=0)} missing values.')

# 3. 

print(f'3. The summary for this variable is: {data["Bottles Sold"].describe()}')

Variable 1: Bottles Sold
1. The variable is a numeric variable.
2. The variable has 0 missing values.
3. The summary for this variable is: count    159904.000000
mean         10.883336
std          28.042635
min         -60.000000
25%           3.000000
50%           6.000000
75%          12.000000
max        2400.000000
Name: Bottles Sold, dtype: float64

In [16]:
print(f'Variable 2: Sale (Dollars)')

print(f'1. The variable is a numeric variable.')

# 2. 

print(f'2. The variable has {data["Sale (Dollars)"].isna().sum(axis=0)} missing values.')

# 3. 

print(f'3. The summary for this variable is: {data["Sale (Dollars)"].describe()}')

Variable 2: Sale (Dollars)
1. The variable is a numeric variable.
2. The variable has 0 missing values.
3. The summary for this variable is: count    159904.000000
mean        146.931598
std         459.368723
min       -1628.400000
25%          36.550000
50%          78.660000
75%         152.880000
max       36720.000000
Name: Sale (Dollars), dtype: float64

In [17]:
print(f'Variable 3: Bottle Volume (ml)')

print(f'1. The variable is a numeric variable.')

# 2. 

print(f'2. The variable has {data["Bottle Volume (ml)"].isna().sum(axis=0)} missing values.')

# 3. 

print(f'3. The summary for this variable is: {data["Bottle Volume (ml)"].describe()}')

Variable 3: Bottle Volume (ml)
1. The variable is a numeric variable.
2. The variable has 0 missing values.
3. The summary for this variable is: count    159904.000000
mean        869.592737
std         513.812818
min          20.000000
25%         750.000000
50%         750.000000
75%        1000.000000
max        6000.000000
Name: Bottle Volume (ml), dtype: float64

6. What are some questions and prediction tools you could create using these data? Who would the stakeholder be for that prediction tool? What practical or ethical questions would it create? What other data would you want, that are not available in your data?

Using this data, we could ask questions about the different types and quantities of liquor sold in Iowa. We could also use the data to predict how much liquor (total mL) would be sold in 2026 based on past years of data. Stakeholders such as liquor store owners and state employees that manage the sell of liquor would be interested in using this predictive tool. Practically, liquor sales differ from year to year and so predicting the amount of liquor sold in 2026 could be a challenge. Ethically, some could dislike the amount of information and data the state has on alcohol sales because policies could be passed to limit the sale for political reasons. Although this would be difficult to get, the sale of other types of alcohol from non-liquor stores, like wine and beer, would be helpful information in determining how much alcohol is sold in the state of Iowa in a given year. However, since stores aren't required to report this like they do liquor, obtaining this data would be a hassle.

7. Commit your work to the repo (`git commit -am 'Finish assignment'` at the command line, or use the Git panel in VS Code). Push your work back to Github and submit the link on Canvas in the assignment tab.